@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}


.a-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 8px;
  font-size: 14px !important;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all .25s ease;
  color: #1C274C;
  font-family: 'Nunito', sans-serif;


  &--md {
    @include button-size(0.5rem, 1rem, 0.875rem, 1.25rem, 2.5rem);
  }

  &--sm {
    @include button-size(0.275rem, 1rem, 0.75rem, 1.25rem, 0.625rem);
  }

  &--lg {
    @include button-size(0.75rem, 1.25rem, 1rem, 1rem, 0.75rem);
  }

  &--fullwidth {
    width: 100%;
  }

  &--primary {
    background: #0072FF;
    color: #FFFFFF;
    font-weight: 900;
    &:hover {
      background: #076EEE;
    }
  }

  &--secondary {
    background: #E2E8FA;
    color: #1C274C;
    font-weight: 700;
  }
  &--tertiary {
    background: none;
    color: #1C274C;
    font-weight: 700;
  }
  &--quaternary {
    background: #13AC75;
    color: #FFFFFF;
    font-weight: 900;
    &:hover{
      background: #099D68;
    }
  }



}
